/* styles/custom.css */
.full-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #7b8a8b, #96a3a3);
  animation: gradientAnimation 10s infinite alternate;
}

.content-wrapper {
  background-color: #fff;
  width: 100%;
  /* Tràn full theo chiều rộng */
  /* Tràn full theo chiều cao */
}

.content-container {
  /* width: 400px; */
  margin: 0 auto;
  /* Để căn giữa content container */
  align-items: center;
}

@keyframes gradientAnimation {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}